<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>URL 링크</h1><br><hr>
	<!--경로를 나타낼 때는 $가 아니라 @를 이용한다.-->
	<a th:href="@{/hello}">basic url</a><br>
	<a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a><br>
	<a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a><br>
	<a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter</a>
</body>
</html>
