<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.exam.mybatis.memberMapper">
	<insert id="insert" parameterType="ResisterRequest">
		INSERT INTO simpleMember(id, email, password, name, regdate)
		VALUES (seq_id.nextVal, #{name}, #{email}, #{password}, sysdate)
	</insert>
</mapper>